.fill {
    position: absolute;
    width: 250px;
    height: 440px;
    top: 20px;
    left: 13px;
    z-index: 4;
}
.fill1 {
    position: absolute;
    width: 250px;
    height: 440px;
    top: 20px;
    right: 350px;
    z-index: 4;
}
.fill2 {
    position: absolute;
    width: 250px;
    height: 440px;
    bottom: -40px;
    z-index: 4;
}
.fill3 {
    position: absolute;
    width: 250px;
    height: 440px;
    bottom: -40px;
    right: 350px;
    z-index: 3;
}