.ben {
    position: relative;
    z-index: 5;
    width: 930px;
    height: 840px;
}
@media only screen and (max-width: 480px) {
    .ben {
      height: 350px;
      width: 420px;
    }
    .title {
        width: 10px;
        
    }
  }
/* .fill {
    position: absolute;
    width: 250px;
    height: 440px;
    top: 20px;
    left: 13px;
    z-index: 4;
}
.fill1 {
    position: absolute;
    width: 250px;
    height: 440px;
    top: 20px;
    right: -495px;
    transform: scaleX(-1) !important;
    z-index: 4;
}
.fill2 {
    position: absolute;
    width: 250px;
    height: 440px;
    bottom: -40px;
    transform: scaleY(-1) !important;
    z-index: 4;
}
.fill3 {
    position: absolute;
    width: 250px;
    height: 440px;
    bottom: -40px;
    right: -495px;
    transform: rotate(180deg) !important;
    
    z-index: 3;
} */
